.mainpage {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.mainpage__userpage {
  margin-top: 24px;
  position: relative;
}

@media (min-width: 728px) {
  .mainpage__userpage {
    margin-top: 75px;
  }
}
