.button {
  height: 64px;
  box-shadow: 0px -2px 18px rgba(128, 128, 128, 0.1);
  border-radius: 4px;
}

.button:disabled {
  background-color: #f2f2f2;
  color: #adadad;
}

.button_login {
  background-color: #fdbc11;
}

.button_add {
  width: 196px;
  background-color: #fdbc11;
}

.button_edit {
  width: 196px;
  background-color: #fdbc11;
}

.button_delete {
  background-color: #ec4466;
  color: #ffffff;
}

.button_cancel {
  background-color: #6c6963;
  color: #ffffff;
}

.button__text {
  margin: auto;
}

.button__loader {
  margin: auto;
  width: 14px;
  height: 14px;
  background-image: url("/public/img/small/loader.png");
  background-repeat: no-repeat;
}

@media (min-width: 768px) {
  .button_delete {
    width: 196px;
  }

  .button_cancel {
    width: 196px;
  }
}
