.submit {
  height: 64px;
  box-shadow: 0px -2px 18px rgba(128, 128, 128, 0.1);
  border-radius: 4px;
}

.submit_login {
  background-color: #fdbc11;
}

.submit_add {
  width: 196px;
  background-color: #fdbc11;
}

.submit__text {
  margin: auto;
}

.submit__loader {
  margin: auto;
  width: 14px;
  height: 14px;
  background-image: url("/public/img/small/loader.png");
  background-repeat: no-repeat;
}
