.content {
  display: flex;
  flex-direction: column;
}

.content__button {
  display: flex;
}

.content__nogames {
  width: 100%;
  padding: 33% 0;
}

.content__provider {
  padding: 25% 19%;
  width: 100%;
  background-color: #fdfdfd;
  border: 1px solid #f2f2f2;
  border-radius: 8px;
}

.content__logo {
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.content__logo_game {
  padding-top: 72%;
  background-size: cover;
}

.content__logo_provider {
  padding-top: 37%;
  background-size: contain;
}

.content__logo:first-child {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.content__logo:last-child {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.content__title {
  margin-top: 10px;
  font-size: 14px;
  color: #2b2b2b;
}

.content__control {
  margin-top: 5px;
}
