.userpage {
  display: flex;
  flex-direction: column;
}

.userpage__filter {
  position: absolute;
}

.userpage__games {
  --columns: 2;
  --sliderValue: 2;
  margin-top: 212px;
  flex: 1;
  grid-template-columns: repeat(min(var(--columns), var(--sliderValue)), 1fr);
  min-width: 270px;
  display: grid;
  gap: 20px;
}

.userpage__game {
  width: 100%;
}

.userpage__img {
  width: 100%;
  border-radius: 8px;
}

@media (min-width: 728px) {
  .userpage {
    flex-direction: row-reverse;
  }

  .userpage__filter {
    position: static;
  }

  .userpage__games {
    --columns: 999;
    margin: 0 20px auto 0;
  }

  /* .userpage__games_column3 {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .userpage__games_column4 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  } */
}
