.loginform {
  margin: auto;
  flex: 1;
  max-width: 412px;
  display: flex;
  flex-direction: column;
}

.loginform__logo {
  margin: 0 auto;
}

.loginform__form {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.loginform__input:not(:first-child) {
  margin-top: 20px;
}

.loginform__submit {
  margin-top: 40px;
}
