.loginform {
  margin: auto;
  max-width: 412px;
  display: flex;
  flex-direction: column;
}

.loginform__logo {
  margin: auto;
  width: 70px;
  height: 70px;
  background-image: url("/public/img/logo.svg");
}

.loginform__form {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}

.loginform__wrapinput {
  display: flex;
  position: relative;
}

.loginform__wrapinput:not(:first-child) {
  margin-top: 20px;
}

.loginform__input {
  flex: 1;
  background: #ffffff;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
}

.loginform__input:placeholder-shown {
  padding: 22px 16px;
}

.loginform__input_error {
  border: 1px solid #ff0000;
}

.loginform__input:not(:placeholder-shown) {
  padding: 30px 16px 14px 16px;
}

.loginform__placeholder {
  position: absolute;
  top: 14px;
  left: 16px;
  font-size: 12px;
  opacity: 0.5;
}

.loginform__input:placeholder-shown + .loginform__placeholder {
  opacity: 0;
}

.loginform__eye {
  position: absolute;
  top: calc(50% - 5px);
  right: 16px;
  width: 16px;
  height: 10px;
  background-image: url("/public/img/eye.png");
  cursor: pointer;
}

.loginform__submit {
  margin-top: 40px;
  height: 64px;
  background: #fdbc11;
  box-shadow: 0px -2px 18px rgba(128, 128, 128, 0.1);
  border-radius: 4px;
}

.loginform__buttontext {
  margin: auto;
}

.loginform__submit {
  cursor: pointer;
}
