.control {
  display: flex;
}

.control__action {
  display: flex;
}

.control__action:not(:last-child) {
  margin-right: auto;
}

.control__icon {
  margin-right: 5px;
  width: 12px;
  height: 12px;
  background-repeat: no-repeat;
  background-position: center;
}

.control__icon_edit {
  background-image: url("/public/img/small/edit.png");
}

.control__icon_delete {
  background-image: url("/public/img/small/delete.png");
}

.control__text {
  font-size: 12px;
  line-height: 120%;
}

.control__text_edit {
  color: #3f53be;
}

.control__text_delete {
  color: #ec4466;
}

@media (min-width: 360px) {
  .control__action:not(:last-child) {
    margin-right: 32px;
  }
}

@media (min-width: 768px) {
  .control {
    flex-direction: column;
  }

  .control__action {
    margin-right: auto;
  }

  .control__action:not(:first-child) {
    margin-top: 5px;
  }
}

@media (min-width: 990px) {
  .control {
    flex-direction: row;
  }

  .control__action:not(:first-child) {
    margin-top: 0;
  }
}
